
body {
    
    font-family: roboto;
}
.header {
    color: #E5E7EB;
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header p {
    font-size: 24px;
    font-weight: bold;
    margin-left: 7rem;
}
.header-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 7rem;
}
a {
    margin: auto 1rem;
    color: #E5E7EB;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
.hero-section {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 8rem 7rem;
    font-size: 18px;
}
.hero-section h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
}
.hero-image {
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 40%;
    box-sizing: border-box;
    justify-content: flex-end;
}
.hero-image img {
    flex: 40%;
    max-width: 600px;
    box-sizing: border-box;
}
.hero-writing {
    flex: 40%;
    color: #E5E7EB;
}
.hero-section button {
    color: white;
    background-color: #3882F6;
    border-radius: 7px;
    border: #3882F6;
    font-size: 18px;
    padding: 0.5rem 2rem;
    font-weight: bold;
}
.information h1 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
}
.info-box {
    display: flex;
    flex-wrap: wrap;
}
.info-container {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 7rem 10rem;
    padding: 0 5rem;
}
.info-box {
    flex: 10%;
    font-size: 14px;
    font-weight: 200;
    padding: 1rem;
    text-align: center;
}
.info-box img {
width: 100%;
aspect-ratio: 1/1;
margin: auto;
border-radius: 7px;
object-fit: cover;
}
.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 7rem 10rem;
}
.quote h2 {
    font-weight: lighter;
}
.quote p {
    text-align: end;
}
.call-to-action {
    margin: 7rem 10rem;
    background-color: #3882F6;
    padding: 2em;
    border-radius: 7px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
}
.cta-text-box {
    margin: auto;
}
.call-to-action button {
    margin: auto;
    color: white;
    background-color: #3882F6;
    border-radius: 7px;
    border: 2px solid #F9FAF8;
    font-size: 18px;
    padding: 0.5rem 2rem;
    font-weight: bold;
}
.footer {
    background-color: #1F2937;
    padding: 2rem;
}
.footer p{
    text-align: center;
    color: #ffffff;
}