
body {
    
    font-family: roboto;
}
.header {
    color: #E5E7EB;
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header p {
    font-size: 24px;
    margin-left: 7rem;
}
.header-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    border: 5px red solid;
    margin-right: 7rem;
}
.header-links a {
    border: 5px blue solid;
    margin: auto 1rem;
}
.hero-section {
    background-color: #1F2937;
    border: 5px red solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 8rem 7rem;
    font-size: 18px;
}
.hero-section h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
}
.hero-image {
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 40%;
    border: 5px red solid;
    box-sizing: border-box;
    justify-content: flex-end;
}
.hero-image img {
    flex: 40%;
    max-width: 600px;
    box-sizing: border-box;
}
.hero-writing {
    flex: 40%;
    border: 5px red solid;
    color: #E5E7EB;
}
button {
    color: white;
    background-color: #3882F6;
    border-radius: 7px;
    border: #3882F6;
    font-size: 18px;
    padding: 0.5rem 1rem;
}
.information h1 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
}
.info-box {
    display: flex;
    flex-wrap: wrap;
}
.info-container {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 7rem;
}
.info-box {
    flex: 20%;
    font-size: 14px;
    font-weight: 200;
    padding: 1rem;
    text-align: center;
}
.info-box img {
width: 200px;
height: 200px;
display: block;
margin: auto;
border-radius: 7px;
}
.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 7rem 10rem;
}
.quote h2 {
    font-weight: lighter;
}
.quote p {
    text-align: end;
}
.call-to-action {
    margin: 7rem 10rem;
    background-color: #3882F6;
    padding: 2rem;
    border-radius: 7px;
    color: #F9FAF8;
}
.call-to-action button {
    border:2px #F9FAF8;
}