
body {
    
    font-family: roboto;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 24px;
    height: 24px;
    border: 5px red solid;
    margin-left: 2rem;
}
.header-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    border: 5px red solid;
}
.header-links a {
    border: 5px blue solid;
    margin: auto 1rem;
}
.hero-section {
    background-color: #1F2937;
    border: 5px red solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-height: 200px;
    padding: 1rem;
}
.hero-section h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
}
.hero-image {
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 40%;
    border: 5px red solid;
    box-sizing: border-box;
}
.hero-image img {
    flex: 40%;
    max-height: 50%;
    box-sizing: border-box;
}
.hero-writing {
    flex: 40%;
    border: 5px red solid;
}